body{
    background-color: rgb(255, 254, 197);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footerA{
  height: 200px;
}
.footer {
    padding:20px 0 20px;
   
    border: solid black 2px;
    text-align: center;
    color: black;
    font-size: 55px;
    width: 100%;
    min-height: 74px;
    margin: 50px auto 10px;
}
.zoom:hover{
  transform: scale(1.2);
}
.nav-link{
  color:white !important;
}
.nav-link:hover{
  color:rgb(0, 58, 250) !important;
  transform: scale(.8);
}
.githublinkedinnav{
  color:black !important;
  padding-left: 15px !important;
  }
.githublinkedinnav2{
color:black !important;
padding-left: 5px !important;
}
.githublink{
text-align: center;
 display: flex;
 list-style-type: none;
 padding-left:30px;
}

.nav-link2{
  color:black;
  padding-left:15px;
  padding-top: 30px;
}
.topb{
  background-position: center;
  background-blend-mode: color;
  background-color: rgb(44, 243, 18);
}
.boldtext{
  color: black;
  font-size: 30px;
  font-weight: 800;
  
}
.portcenter{
  text-align: center;
  justify-content: space-evenly;
}
.cb{
  margin-top: 50px;
}
.card{
  padding-left:0px;
  max-width: 1240px;
}
.boredercard{
  padding-left: 10px;
}

.recbackground{
  background-color: white;

}
.titlerec{
  color: black;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}
.recommendations{

  text-align: center;
  margin-top: 35px;
  background-color:rgb(44, 243, 18);
  padding: 20px;
}
.ribenrec{
  height: 130px;
  float: right;
}